.card{
    position: relative;
    background-size: cover;

    /*width: 150px;
    height: 180px;*/
}

.card img{
    width: 100%;
    display: block;
    border: 2px solid white;
    border-radius: 10px;
}

.card .front{
    transform: rotateX(90deg);
    position: absolute;
    transition: all ease-in 0.2s;
}

.flipped .front{
    transform: rotateX(0deg);
    transition-delay: 0.2s;
}

.card .back{
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back{
    transform: rotateX(90deg);
    transition-delay: 0.2s;
}